/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --decor-color: #FFF1F7;

  --bg-img: url(../images/cover-image-light.png);
}

.theme-light .page {

  /* Вам также нужно будет написать ряд подобных селекторов */
  .title-decor,
  .section__tip-title {
    color: var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid #32312D;
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }

  .span-decor {
    display: none;
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --decor-color: #FFF1F7;

    --bg-img: url(../images/cover-image-light.png);
  }
}