/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: 'IBM Plex mono', 'monospace';
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --main-text-size: 18px;
  --main-text-line: 130%;

  --accent-color: #ff0070;
  --accent-color-rgb: 255, 0, 112;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --decor-color: #000028;

  
  --accent-color-text: #ff0070;
  --accent-color-btn: #ff0070;
  --accent-color-hover-rgb: 255, 0, 112;
  --decor-color-title: #000028;


  --bg-img: url(../images/cover-image-dark.png);
}