/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: 'IBM Plex mono', serif;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --main-text-size: 18px;
  --main-text-line: 130%;

  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --decor-color: #000028;

  --bg-img-dark: url(/images/cover-image-dark.png);
}